{% load static %}

<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Libgen Django Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Libgen Django Project" name="description" />
        <meta content="surenjanath" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- swiper css -->
        <link rel="stylesheet" href="{% static '/libs/swiper/swiper-bundle.min.css' %}">

        <!-- preloader css -->
        <link rel="stylesheet" href="{% static '/css/preloader.min.css' %}" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <!-- flatpickr css -->
        <link href="{% static 'libs/flatpickr/dist/flatpickr.min.css' %}" rel="stylesheet" type="text/css">

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->

        <div class="min-vh-90 py-1 px-1 py-sm-1">
            <div class="bg-overlay bg-primary"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center py-1 py-sm-1">
                            <h3 class="text-white mt-5">Libgen Django Project</h3>
                            <p class="text-white-50 font-size-16">Just Search for your book and viola! Download..</p>

                            <div data-countdown="2023/12/31" class="counter-number mt-5"></div>

                            {% comment %} <form class="app-search mt-3 mx-auto">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <button class="btn btn-primary" type="button"><i class="bx bx-paper-plane align-middle"></i></button>
                                </div>
                            </form>                        <!-- App Search--> {% endcomment %}
                            <div class="app-search d-none d-lg-block mt-3 mx-auto">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." id="querySearch">
                                    <button class="btn btn-primary" type="text" id="querySearch_btn"><i class="bx bx-search-alt align-middle"></i></button>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- end row -->

                                        <div class="table-responsive" style="scale:90%;">
                                            <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 4px; width: 90%; ">
                                                <thead>
                                                    <tr class="bg-transparent">
                                                        {% comment %} <th style="width: 120px;">Invoice ID</th>
                                                        <th>Date</th>
                                                        <th>Billing Name</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                        <th style="width: 150px;">Download Pdf</th>

                                                        {% comment %} <th>ID</th> {% endcomment %}
                                                        <th>Author</th>
                                                        <th>Title</th>
                                                        {% comment %} <th>Publisher</th> {% endcomment %}
                                                        <th>Year</th>
                                                        {% comment %} <th>Pages</th> {% endcomment %}
                                                        {% comment %} <th>Language</th> {% endcomment %}
                                                        {% comment %} <th>Size</th> {% endcomment %}
                                                        {% comment %} <th>Extension</th> {% endcomment %}
                                                        <th style="width: 90px;">Action</th>
                                                    </tr>
                                                </thead>
                                                {% comment %} <tbody>

                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input">
                                                                <label class="form-check-label"></label>
                                                            </div>
                                                        </td>

                                                        <td><a href="javascript: void(0);" class="text-dark fw-medium">#MN0215</a> </td>
                                                        <td>
                                                            12 Oct, 2020
                                                        </td>
                                                        <td>Connie Franco</td>

                                                        <td>
                                                            $26.30
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">Paid</div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <button type="button" class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light"><i class="bx bx-download label-icon"></i> Pdf</button>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                    <li><a class="dropdown-item" href="#">Print</a></li>
                                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input">
                                                                <label class="form-check-label"></label>
                                                            </div>
                                                        </td>

                                                        <td><a href="javascript: void(0);" class="text-dark fw-medium">#MN0214</a> </td>
                                                        <td>
                                                            11 Oct, 2020
                                                        </td>
                                                        <td>Paul Reynolds</td>

                                                        <td>
                                                            $24.20
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">Paid</div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <button type="button" class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light"><i class="bx bx-download label-icon"></i> Pdf</button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                    <li><a class="dropdown-item" href="#">Print</a></li>
                                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input">
                                                                <label class="form-check-label"></label>
                                                            </div>
                                                        </td>

                                                        <td><a href="javascript: void(0);" class="text-dark fw-medium">#MN0213</a> </td>
                                                        <td>
                                                            10 Oct, 2020
                                                        </td>
                                                        <td>Ronald Patterson</td>

                                                        <td>
                                                            $20.20
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">Pending</div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <button type="button" class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light"><i class="bx bx-download label-icon"></i> Pdf</button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                    <li><a class="dropdown-item" href="#">Print</a></li>
                                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input">
                                                                <label class="form-check-label"></label>
                                                            </div>
                                                        </td>

                                                        <td><a href="javascript: void(0);" class="text-dark fw-medium">#MN0212</a> </td>
                                                        <td>
                                                            09 Oct, 2020
                                                        </td>
                                                        <td>Adella Perez</td>

                                                        <td>
                                                            $16.80
                                                        </td>
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">Paid</div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <button type="button" class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light"><i class="bx bx-download label-icon"></i> Pdf</button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                    <li><a class="dropdown-item" href="#">Print</a></li>
                                                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>


                                                </tbody> {% endcomment %}
                                            </table>
                                        </div>
                                        <!-- end table responsive -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- coming-content -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/dist/waves.min.js' %}"></script>
        <script src="{% static 'libs/feather-icons/dist/feather.min.js' %}"></script>

        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- init -->
        <style>/* Add word-wrap styles for DataTables */
            .dt-wrap {
                word-wrap: break-word;
                white-space: normal !important;
            }</style>
        <script>
            $(document).ready(function() {
                $(".datatable").DataTable({
                    ajax: {
                        url: "{% url 'search-result-list' %}", // URL for fetching data
                        data: function(d) {
                            d.search = $("#Searchbar").val(); // Include search query as a parameter
                        },
                        dataSrc: '' // Specify the property containing the data
                    },
                    columns: [
                        { data: 'author' }, // Define columns and map to JSON keys
                        { data: 'title' },
                        { data: 'extension' },
                        { data: 'uniqueId' },
                        // Add other columns as needed
                    ],
                    columnDefs: [
                    {
                        targets: '_all', // Apply word wrapping to all columns
                        className: 'dt-wrap' // Apply the custom CSS class for word wrapping
                    }
                ]
                });
            });
        </script>

        <!-- Search BTN -->
        <script>
            $(document).ready(function() {
                $("#querySearch_btn").on("click", function() {
                    // Get the query input value
                    var query = $("#querySearch").val();

                    // Make an AJAX POST request to your Django view
                    $.ajax({
                        url: "{% url 'search-query-post' %}",
                        method: 'POST',
                        data: { query: query },
                        success: function(data) {
                            console.log("AJAX Request Success:", data);
                            // Handle the response from the server here
                        },
                        error: function(error) {
                            console.error("AJAX Request Error:", error);
                            // Handle errors here
                        }
                    });
                });
            });
        </script>
  </body>
</html>
