{% load static %}

<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Libgen Django Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Libgen Django Project" name="description" />
        <meta content="surenjanath" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">


        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <style>
            #querySearch {
                color: red;
                background-color: blue;
            }
            #table-Results {
                color:black;
                background-color: rgba(192, 192, 192, 0.8);
            }

            <!--Customized Title-->
            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20vh;
                z-index: 100;

                background: rgb(255, 255, 255);
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 75%,
                    rgba(255, 255, 255, 0.9) 80%,
                    rgba(255, 255, 255, 0.25) 95%,
                    rgba(255, 255, 255, 0) 100%
                );
            }

            .text {
                font-family: "Yanone Kaffeesatz";
                font-size: 60px;
                display: flex;
                position: absolute;
                bottom: 20vh;
                left: 50%;
                transform: translateX(-50%);
                user-select: none;

                .wrapper {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 20px;
                    .letter {
                        transition: ease-out 1s;
                        transform: translateY(40%);
                    }
                    .shadow {
                        transform: scale(1, -1);
                        color: #999;
                        transition: ease-in 2s, ease-out 2s;
                    }
                    &:hover {
                        .letter {
                            transform: translateY(-200%);
                        }
                        .shadow {
                            opacity: 0;
                            transform: translateY(200%);
                        }
                    }
                }
            }


        </style>
    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->

        <div class="min-vh-90 py-1 px-1 py-sm-1">
            <div class="bg-overlay "></div>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="row">



                        <div class="col-lg-12">

                            <div class="card">

                                <div class="card-body">



                                    <div class="row justify-content-center mt-3">

                                        <div class="col-xl-5 col-lg-8">
                                            <div class="card-body">
                                                <div class="overlay"></div>

                                                <div class="text">
                                                    <div class="wrapper">
                                                        <div id="L" class="letter">L</div>
                                                        <div class="shadow">L</div>
                                                    </div>
                                                    <div class="wrapper">
                                                        <div id="D" class="letter">D</div>
                                                        <div class="shadow">D</div>
                                                    </div>
                                                    <div class="wrapper">
                                                        <div id="P" class="letter">P</div>
                                                        <div class="shadow">P</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-center">






                                                <h3 class="mt-5">Libgen Django Project</h3>
                                                <p class="text-muted">A webscraping Projects for EBOOKS online. Scrapes <a href="https://libgen.rs/">https://libgen.rs/</a></p>
                                                <div>
                                                    <a type="button" class="btn btn-primary mt-2 me-2 waves-effect waves-light" target="_blank" href="https://www.youtube.com/channel/UCbDL7RSxZIJnhFBRay-JrWQ">Contact Me @PythologyProdigy</a>
                                                    {% comment %} <button type="button" class="btn btn-success mt-2 waves-effect waves-light">Send us a
                                                        tweet</button> {% endcomment %}
                                                </div>

                                                <div class="row justify-content-center">

                                                    <p class="font-size-16 mt-4">Just Search for your book and viola! Download..</p>

                                                    <div class="app-search d-none d-lg-block mt-3 mx-auto">
                                                        <div class="position-relative">
                                                            <input type="text" class="form-control" placeholder="Search..." id="querySearch" >
                                                            <button class="btn btn-primary" type="text" id="querySearch_btn"><i class="bx bx-search-alt align-middle"></i></button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body" id="table-Results">
                                                    <!-- end row -->

                                                    <div >
                                                        <table class="table datatable nowrap cell-border"  style="border-collapse: collapse; border-spacing: 0 4px; width: 90%; scale:90%; ">
                                                            <thead>
                                                                <tr class="bg-transparent">
                                                                    {% comment %} <th style="width: 120px;">Invoice ID</th>
                                                                    <th>Date</th>
                                                                    <th>Billing Name</th>
                                                                    <th>Amount</th>
                                                                    <th>Status</th>
                                                                    <th style="width: 150px;">Download Pdf</th>

                                                                    {% comment %} <th>ID</th> {% endcomment %}
                                                                    <th>Author</th>
                                                                    <th>Title</th>
                                                                    {% comment %} <th>Publisher</th> {% endcomment %}
                                                                    <th>Year</th>
                                                                    {% comment %} <th>Pages</th> {% endcomment %}
                                                                    {% comment %} <th>Language</th> {% endcomment %}
                                                                    {% comment %} <th>Size</th> {% endcomment %}
                                                                    <th>Size</th>
                                                                    <th style="width: 90px;">Action</th>
                                                                </tr>
                                                            </thead>

                                                        </table>
                                                    </div>
                                                    <!-- end table responsive -->
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="downloadModalLabel">Download Details</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p id="downloadInfo"></p>
                                                                    <ul id="downloadLinksList">
                                                                        <!-- Links will be populated dynamically here -->
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                                <!-- end  card body -->
                            </div>
                            <!-- end card -->
                            <div class="text-center py-1 py-sm-1">


                            </div>
                        </div>
                        <!-- end col -->



                    </div>


                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- coming-content -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>


        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- init -->
        <style>
            .dt-wrap {
                word-wrap: break-word;
                white-space: normal !important;
            }</style>
        <script>
            $(document).ready(function() {
                var Table = $(".datatable").DataTable({
                    ajax: {
                        url: "{% url 'search-result-list' %}", // URL for fetching data
                        data: function(d) {
                            d.search = $("#Searchbar").val(); // Include search query as a parameter
                        },
                        dataSrc: '' // Specify the property containing the data
                    },
                    pageLength: 5,
                    lengthMenu: [5, 10, 25, 50, 100],
                    columns: [
                        { data: 'author' }, // Define columns and map to JSON keys
                        { data: 'title' },
                        { data: 'year'},
                        { data: 'size' },
                        {
                            data: 'uniqueId',
                            render: function(data, type, full, meta) {
                                if (type === 'display') {
                                    var extension = full.extension.toUpperCase();
                                    var downloadInfo = extension + ' (' + data + ')'; // Combine extension and uniqueId

                                    return '<div>' +
                                        '<button type="button" class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light open-modal" data-download-id="' + data + '" data-download-info="' + downloadInfo + '">' +
                                        '<i class="bx bx-download label-icon"></i>'+extension+'</button>' +
                                        '</div>';
                                }
                                return data;
                            }
                        }
                        // Add other columns as needed
                    ],
                    columnDefs: [
                    {
                        targets: '_all', // Apply word wrapping to all columns
                        className: 'dt-wrap' // Apply the custom CSS class for word wrapping
                    }
                ]
                });
                $("#querySearch_btn").on("click", function() {
                    // Get the query input value
                    var query = $("#querySearch").val();

                    // Make an AJAX POST request to your Django view
                    $.ajax({
                        url: "{% url 'search-query-post' %}",
                        method: 'POST',
                        data: { query: query },
                        success: function(data) {
                            console.log("AJAX Request Success:", data);
                            Table.ajax.reload();
                        },
                        error: function(error) {
                            console.error("AJAX Request Error:", error);
                            // Handle errors here
                        }
                    });
                });

                const downloadFile = (blob, fileName) => {
                    const link = document.createElement('a');
                    // create a blobURI pointing to our Blob
                    link.href = URL.createObjectURL(blob);
                    link.download = fileName;
                    // some browser needs the anchor to be in the doc
                    document.body.append(link);
                    link.click();
                    link.remove();
                    // in case the Blob uses a lot of memory
                    setTimeout(() => URL.revokeObjectURL(link.href), 7000);
                  };

                  {% comment %} $(document).on('click', '.open-modal', function() {
                    var downloadId = $(this).data('download-id');
                    var downloadInfo = $(this).data('download-info');
                    $('#progressBar').width(0 + '%');
                    // Set the modal content
                    $('#downloadInfo').text(downloadInfo);

                    // Open the modal
                    $('#downloadModal').modal('show');

                    // Start the download and track progress
                    $.ajax({
                      url: "{% url 'getFile' %}", // Replace with the actual backend download endpoint
                      data: { id: downloadId },
                      xhr: function() {
                        var xhr = new window.XMLHttpRequest();

                        // Listen for progress events
                        xhr.upload.addEventListener('progress', function(evt) {
                          if (evt.lengthComputable) {
                            var percentComplete = (evt.loaded / evt.total) * 100;
                            $('#progressBar').width(percentComplete + '%');
                            $('.progress-label').text(percentComplete + '%');
                          }
                        }, false);

                        return xhr;
                      },
                      success: function(data) {
                        // Handle success
                        console.log('Download completed');
                        $('#progressBar').width('100%');
                        $('.progress-label').text('100%');

                        // Use the jQuery File Download plugin to open the file in a new tab
                        $('<a href="#" download="downloaded_file.pdf">download</a>').attr('href', window.URL.createObjectURL(new Blob([data], { type: 'application/pdf' }))).appendTo('body')[0].click();

                        // You can close the modal or perform other actions here.
                      },
                      error: function(error) {
                        // Handle errors
                        console.error('Download error:', error);
                        // You can handle errors here.
                      }
                    });
                  }); {% endcomment %}


                  $(document).on('click', '.open-modal', function() {
                    var downloadId = $(this).data('download-id');
                    var downloadInfo = $(this).data('download-info');
                    $('#progressBar').width(0 + '%');
                    // Set the modal content
                    $('#downloadInfo').text(downloadInfo);

                    // Start the download and track progress
                    $.ajax({
                      url: "{% url 'getFile' %}", // Replace with the actual backend download endpoint
                      data: { id: downloadId },

                      success: function(data) {

                        $('#downloadModalLabel').text(data.search_result_title);
                        $('#downloadLinksList').empty();
                        $.each(data.download_links, function (index, link) {
                            $('#downloadLinksList').append('<li><i class="fas fa-cloud"></i> <a target="_blank" href="' + link.LINK + '">' + link.CLOUD + '</a></li>');
                        });
                                            // Open the modal
                        $('#downloadModal').modal('show');
                      },
                      error: function(error) {
                        // Handle errors
                        console.error('Download error:', error);
                        // You can handle errors here.
                      }
                    });
                  });
            });
        </script>
  </body>
</html>
